<ion-header>
  <ion-navbar>
      <ion-grid>
          <ion-row>
            <ion-col col-2>
              <a href="./"><ion-icon name="home"></ion-icon></a>
            </ion-col>
            <ion-col col-8>
              <ion-title>Our Products</ion-title>
            </ion-col>
            <ion-col col-2>
              <i18n-menu [long]='false'></i18n-menu>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-searchbar placeholder="Search..." showCancelButton color="danger" (ionInput)="search($event)"></ion-searchbar>
  <ion-item>
    <ion-label>Filter products</ion-label>
    <ion-toggle [(ngModel)]="toggle" (ionChange)="notify()"></ion-toggle>
  </ion-item>
  <product-filter *ngIf="toggle"></product-filter>
  <ion-list>
    <product-card *ngFor="let prod of products" [item-input]="prod" (loadedItems)="delSpinner()"></product-card>
  </ion-list>
</ion-content>
