product-card {
  p {white-space: normal;}
  ion-card-header {
    font-style: italic;
    text-align: left;
  }
  ion-card-title span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color:red;
  }
  .desc {
    text-align: justify;
  }
  .starsDiv {
    text-align: right;
  }
}
