<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-header">
            <h1 class="lead text-center text-capitalize">Legal Notices</h1>
            <h2>Law, rules and other boring stuff..</h1>
            <div class="alert alert-success alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" >&times;</a>
                <strong>Success!</strong> Indicates a successful or positive action.
            </div>
        </div>
    </div>
    <div class="row judicial">
        <div class="col-md-3">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-success btn-lg">Main issues</button>
                <button type="button" class="btn btn-info btn-lg">White paper <span class="label label-primary">New!</span></button>
                <button type="button" class="btn btn-warning btn-lg">Video intro</button>
            </div> 
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-danger">Good</button>
                <button type="button" class="btn btn-default">Evil</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
              <a href="../static/img/victory.jpg">
                <img src="../static/img/victory.jpg" alt="Lights" style="width:100%">
                <div class="caption">
                  <p>Judicial cases won  <span class="badge">5</span></p>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
              <a href="../static/img/fail.jpg">
                <img src="../static/img/fail.jpg" alt="Nature" style="width:100%">
                <div class="caption">
                  <p>Judicial cases lost  <span class="badge">52</span></p>
                </div>
              </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
              <a href="../static/img/justice.jpg">
                <img src="../static/img/justice.jpg" alt="Fjords" style="width:100%">
                <div class="caption">
                  <p>Judicial cases pending  <span class="badge">521</span></p>
                </div>
              </a>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-4">
             <img src="../static/img/legal_team.jpg" class="img-circle" alt="Our legal team"> 
        </div>
        <div class="col-sm-8">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                      <tr>
                        <th>Photo<span class="glyphicon glyphicon-user"></span></p></th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email<span class="glyphicon glyphicon-envelope"></span></p></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img src="../static/img/legal_1.png" class="img-thumbnail"></td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                      </tr>
                      <tr>
                        <td><img src="../static/img/legal_2.png" class="img-thumbnail"></td>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                      </tr>
                      <tr class="success">
                        <td><img src="../static/img/legal_3.png" class="img-thumbnail"></td>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                      </tr>
                      <tr>
                        <td><img src="../static/img/legal_4.png" class="img-thumbnail"></td>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                      </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Do <strong>you</strong> want to join our legal team? This is the satus of it completion</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                90%
                </div>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>In particular now we need</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                    37 civil lawyers
                </div>
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
                    22 legal assistants
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                    1 corrupted judge
                </div>
            </div>     
        </div>  
    </div>
    <div class="row">
        <div class="col-sm-6 bg-info text-center well well-lg">
            <h1>More info</h1>
            <p>If you are not satisfied with what we wrote on this page, just <a>click here</a></p>
        </div>
        <div class="col-sm-6 bg-danger text-center well well-lg">
            <h1>Report abuses</h1>
            <div class="alert alert-danger">
                <p>
                <strong>Danger!</strong> You should <a href="#" class="alert-link">read this message</a> before complaining with us.
                </p>
            </div>
        </div>
    </div>  
  
</div>

</body>
</html>




<!-- Legal page use underscore template engine"-->
<script type="text/html" id='usageList'>
<table cellspacing='0' cellpadding='0' border='1' >
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>

        <% _.each(items,function(item,key,list){ %>
        <% var f = item.name; %><!-- create more variables -->
            <tr>
                <!-- use variables -->
                <td><%= key %></td>
                <td class="<%= f %>"><%= item.name %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
</script>

<!-- Create your target -->
<div id="target"></div>