<!-- News page use mustache template engine"-->

  <blockquote class="text-capitalize">
    <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
    <footer>From WWF's website</footer>
  </blockquote>
<div class="alert alert-warning">
  <strong>Warning!</strong> Everything in this page is a pure work of fantasy.
</div>


    <h1>Our principles</h1>    
  <p>What we <u class="text-uppercase">guarantee</u> you</p>
  <dl>
    <dt>Fake news</dt>
    <dd>- <del>don't</del> believe us</dd>
    <dt>Fantasy</dt>
    <dd>- doing the most to <s>report</s> invent stuff</dd>
  </dl>     
</div>

<p>Use <kbd>ctrl + F5</kbd> to <ins>refresh</ins> the page and get the latest news!</p>
<p><pre class="pre-scrollable">
Text in a pre element
is displayed in a fixed-width
font, and it preserves
both      spaces and
line breaks.
</pre></p>

<samp></samp>
<p>If you have any complains do not contact us at <address>noreply@nomail.no</address>