#newItem_cont {
    background: url(../../static/img/engine.gif) right top no-repeat, 
                url(../../static/img/engine.gif) right bottom no-repeat, 
                url(../../static/img/paper1.jpeg) left top repeat;
    background-size: 50px, 50px, auto;
}

#newItem_header h5 {
	background-color: white;
	width: 80%;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	border-radius: 30px;
	padding: 10px;
	border-color: black;
	border-style: double;
	border-width: thick;
}

#inserted_modal {
	border: 2px dashed #505;
	border-radius: 10px;
	background-color: orange;
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

h5.thumb {
    font-size: medium;
    font-weight: bolder;
    font-style: oblique;
}

#uploadStatusDiv {
	border: 2px dotted grey;
}

#uploadActionDiv {
	border: 1px inset grey;
	padding: 4px;
	margin: 8px 0px;
}


.newCommentDiv {
  	padding:4px;
  }

.help-block {
  font-size: xx-small;
}

.jumbotron {
  text-align: center;
  padding: 10 !important;
}