i18n-menu {
  button {
    background: transparent;
  }
  .action-sheet-group{
    overflow: scroll;
    max-height: 90vh;
  }

}

.nativeLangs:focus{
    border:3px solid red !important;
    //display: block;
  }
