page-contact {
  button a {
    text-decoration: unset;
  }
  ion-content, ion-list{
    margin-top:5rem;
  }
  .newsletter {
    margin-bottom:4rem;
  }
  .toolbar-content {
    position: absolute;
    right: 0;
  }
}
